<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Billabong&display=swap'); /* Similar to Instagram's original font */
    .instagram-logo {
      font-family: 'Billabong', cursive;
      font-size: 2.5rem;
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
  
</head>
<body class="min-h-screen w-full bg-zinc-700">
  
  <section class=" text-white">
    <div class="flex justify-evenly items-center">
      <h2 class="instagram-logo pt-5  text-4xl font-bold">Instgram</h2>
      <form action="/logout" method="get">
        <Button class="font-bold px-4 py-1 mt-3 text-black rounded-md bg-red-400  inline-block text-center"><a href="/logout">Logout</a></Button>
      </form>
      </div>
    <hr class="m-2 h-0.5 bg-black border-0">
    <div class="px-2 py-5 flex gap-4 justify-evenly items-center">
     <div class="flex flex-col justify-center items-center gap-2">
      <form action="/updateprofilepic" method="post" name="avatar" enctype="multipart/form-data">
        <input type="file" placeholder="Add profile Pic" class="px-3 py-2 w-3/4 bg-white text-black rounded-md mb-2" name="image">
        <button  class = "font-bold bg-red-600 px-5 py-2 rounded-md">upload Profile Pic</button>
      </form>
     </div>
      
    </div>
  </section>



</body>
</html>
