<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit your post</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Billabong&display=swap'); /* Similar to Instagram's original font */
    .instagram-logo {
      font-family: 'Billabong', cursive;
      font-size: 2.5rem;
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>

</head>
<body class="min-h-screen w-full bg-zinc-700">
  <div class="flex justify-start items-center">
    <a href="/profile" class="instagram-logo pt-5 px-36 mb-10  text-4xl font-bold">Instgram</a>
    </div>

  <section class="px-36 py-2 ">
    <h2 class="text-2xl font-mono mb-5  text-white text-[24px]">Edit Post </h2>
     <form class="flex flex-col " action="/update/<%=editdata._id %>" method="post">
       <textarea class="px-10 w-96 py-2 rounded-md inline-block resize-none text-white border-none outline-none bg-slate-500 font-mono text-2xl " type="text" placeholder="what's in Your Mind" name="content"><%=editdata.content%></textarea>
      <button class="inline-block w-40 bg-yellow-500 text-black px-5 py-2 mt-4  rounded-md">Edit Post</button>
     </form>
    <div>
    </div>
  </section>

</body>
</html>

